/*
 * Globals
 *
 */
.pointer {
  cursor: pointer;
}
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  cursor: pointer;
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333;
  background-image: url('/images/riftbg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}
.site-wrapper input {
  color: black;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
/* Padding for spacing */
.inner {
  padding: 30px;
}
/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}
/*
 * Cover
 */
.cover {
  padding: 20px 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
/*
 * Footer
 */
.mastfoot {
  color: #999;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5);
}
/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}
@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 500px;
  }
}
#renderCanvas {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#loadingWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #5f5991 0%, #3f3b60 85%) no-repeat;
  text-align: center;
  color: white;
  transition: transform 0.75s ease-in-out;
}
#loadingValue {
  margin-top: 10px;
}
#loadingWrapper #loadingText {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
.hide {
  display: none!important;
}
.progress {
  height: 30px;
}
.progress .progress-bar {
  font-size: 16px;
  line-height: 30px;
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  min-width: 320px;
}
#page-content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 15px;
}
#page-content-wrapper .page-content {
  width: 100%;
  height: 100%;
}
#page-content-wrapper .page-content .container-fluid,
#page-content-wrapper .page-content .row,
#page-content-wrapper .page-content .col-md-12 {
  height: 100%;
}
#page-content-wrapper .page-content .container-fluid .panel,
#page-content-wrapper .page-content .row .panel,
#page-content-wrapper .page-content .col-md-12 .panel {
  width: 100%;
  height: 100%;
  position: relative;
}
#page-content-wrapper .page-content .container-fluid .panel .panel-body,
#page-content-wrapper .page-content .row .panel .panel-body,
#page-content-wrapper .page-content .col-md-12 .panel .panel-body {
  overflow: scroll;
}
#page-content-wrapper .page-content .container-fluid .panel .panel-body > div,
#page-content-wrapper .page-content .row .panel .panel-body > div,
#page-content-wrapper .page-content .col-md-12 .panel .panel-body > div {
  word-wrap: break-word;
}
#page-content-wrapper .page-content .container-fluid .panel .panel-footer,
#page-content-wrapper .page-content .row .panel .panel-footer,
#page-content-wrapper .page-content .col-md-12 .panel .panel-footer {
  position: absolute;
  bottom: 0px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  display: none;
}
/* Sidebar Styles */
.sidebar-nav {
  position: relative;
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  //color: #999999;
}
.sidebar-nav li img {
  display: inline-block;
  height: 30px;
}
.sidebar-nav li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media (max-width: 600px) {
  #wrapper.toggled #sidebar-wrapper,
  .sidebar-nav {
    width: 100%;
  }
}
.mymsg {
  background-color: rgba(30, 144, 255, 0.4);
  padding: 15px;
}
.theirmsg {
  background-color: rgba(255, 215, 0, 0.4);
  padding: 15px;
}
.badge {
  background-color: #9954bb;
}
.panel {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.panel.panel-info .panel-footer {
  border-top: 1px solid #7643a8;
}
.panel .panel-footer {
  background-color: rgba(0, 0, 0, 0.6);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: white;
  background-color: #9954bb;
  border: 1px solid #9954bb;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs {
  border-bottom: 1px solid #9954bb;
}
.nav-tabs > li {
  width: 50%;
}
.nav-tabs > li > a {
  margin-right: 0px;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}
.purple {
  color: #9954bb;
}
.mobile{
    font-size:30px!important;
    vertical-align: middle;
}
