<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div style="line-height:2.5;" class="inner cover">
                <h1 class="cover-heading">About League Chat</h1>
                <p class="lead">beta version 0.2.0</p>
                <button ng-click="login()" class="btn btn-info">Login</button>
                <hr>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0">
                            <i class="fa fa-caret-right"></i> This project is under active development with daily builds
                        </div>
                        <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0">
                            <i class="fa fa-caret-right"></i> We don't store your password or username anywhere, league.chat connects your client directly to the League of Legends servers.
                        </div>
                        <div class="row visible-xs-block">
                            <div class="col-xs-12"><hr></div>
                        </div>
                        <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0"><i class="fa fa-caret-right"></i> I stream while working on the project on weekends.</div>
                        <div class="row visible-xs-block">
                            <div class="col-xs-12"><hr></div>
                        </div>
                        <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0"><i class="fa fa-caret-right"></i> You can join in on the fun at <a href="http://twitch.tv/trickpatty"><i style="font-size:24px;" class="fa fa-twitch"></i> twitch.tv/trickpatty</a></div>
                        <div class="row visible-xs-block">
                            <div class="col-xs-12"><hr></div>
                        </div>
                        <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0">Contact Info:</div>
                        <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0"><a href="http://github.com/trickpattyFH20"><i style="font-size:24px;" class="fa fa-github"></i> github.com/trickpattyFH20</a></div>
                        <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0"><a href="http://twitter.com/trickpattyyo"><i style="font-size:24px;" class="fa fa-twitter"></i> twitter.com/trickpattyyo</a></div>
                    </div>
                </div>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <div ng-repeat="friend in friends">{{friend.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
