<div id="wrapper" ng-class="{'toggled':!showMsg}">
    <div id="sidebar-wrapper">
        <tabset>
            <tab heading="Online Friends">
                <ul class="sidebar-nav">
                    <li style="border-bottom:1px solid #9954bb;"
                        ng-click="showMessages(friend.shortId)" ng-repeat="friend in onlineFriends | onlineColorFilter:'green' track by $index">
                        <a>
                            <div class="row">
                                <div class="col-xs-5" style="overflow:hidden;">
                                  <span style="white-spa    ce: nowrap; margin-left:10px" class="pull-left">{{friend.name}}</span>
                                </div>
                                <div class="col-xs-3" style="overflow:hidden;">
                                    <span class="pull-left">{{friend.statusObj.currentGame.status.name}}</span>
                                </div>
                                <div class="col-xs-4">
                                    <span class="pull-left">
                                        <i class="fa fa-circle {{friend.statusColor}}"></i>
                                        <img src="http://avatar.leagueoflegends.com/na/{{friend.name}}.png"/>
                                        <span class="badge" ng-if="friend.unread != 0">{{friend.unread}}</span>
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-xs-12">
                                    {{friend.statusObj.currentGame.status.name}}
                                </div>
                            </div> -->
                        </a>
                    </li>
                    <li style="border-bottom:1px solid #9954bb;"
                        ng-click="showMessages(friend.shortId)" ng-repeat="friend in onlineFriends | onlineColorFilter:'white' track by $index">
                        <a>
                            <div class="row">
                                <div class="col-xs-5" style="overflow:hidden;">
                                  <span style="white-spa    ce: nowrap; margin-left:10px" class="pull-left">{{friend.name}}</span>
                                </div>
                                <div class="col-xs-3" style="overflow:hidden;">
                                    <span class="pull-left">{{friend.statusObj.currentGame.status.name}}</span>
                                </div>
                                <div class="col-xs-4">
                                    <span class="pull-left">
                                        <i class="fa fa-mobile mobile {{friend.statusColor}}"></i>
                                        <img src="http://avatar.leagueoflegends.com/na/{{friend.name}}.png"/>
                                        <span class="badge" ng-if="friend.unread != 0">{{friend.unread}}</span>
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-xs-12">
                                    {{friend.statusObj.currentGame.status.name}}
                                </div>
                            </div> -->
                        </a>
                    </li>
                    <li style="border-bottom:1px solid #9954bb;"
                        ng-click="showMessages(friend.shortId)" ng-repeat="friend in onlineFriends | onlineColorFilter:'yellow' track by $index">
                        <a>
                            <div class="row">
                                <div class="col-xs-5" style="overflow:hidden;">
                                  <span style="white-space: nowrap; margin-left:10px;" class="pull-left">{{friend.name}}</span>
                                </div>
                                <div class="col-xs-3" style="overflow:hidden;">
                                    <span class="pull-left">{{friend.statusObj.currentGame.status.name}}</span>
                                </div>
                                <div class="col-xs-4">
                                    <span class="pull-left">
                                        <i class="fa fa-circle {{friend.statusColor}}"></i>
                                        <img src="http://avatar.leagueoflegends.com/na/{{friend.name}}.png"/>
                                        <span class="badge" ng-if="friend.unread != 0">{{friend.unread}}</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="border-bottom:1px solid #9954bb;"
                        ng-click="showMessages(friend.shortId)" ng-repeat="friend in onlineFriends | onlineColorFilter:'red' track by $index">
                        <a>
                            <div class="row">
                                <div class="col-xs-5" style="overflow:hidden;">
                                    <span style="white-space: nowrap; margin-left:10px" class="pull-left">{{friend.name}}</span>
                                </div>
                                <div class="col-xs-3" style="overflow:hidden;">
                                    <span class="pull-left">{{friend.statusObj.currentGame.status.name}}</span>
                                </div>
                                <div class="col-xs-4">
                                    <span class="pull-left">
                                        <i class="fa fa-circle {{friend.statusColor}}"></i>
                                        <img src="http://avatar.leagueoflegends.com/na/{{friend.name}}.png"/>
                                        <span class="badge" ng-if="friend.unread != 0">{{friend.unread}}</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </tab>
            <tab heading="Offline Friends">
                <ul class="sidebar-nav">
                    <li ng-repeat="friend in offlineFriends track by $index">
                        <a>
                            <div class="row">
                                <div class="col-xs-8">
                                    <span class="pull-right">
                                        {{friend.name}}
                                        <span class="badge" ng-if="friend.unread != 0">{{friend.unread}}</span>
                                        <img src="http://avatar.leagueoflegends.com/na/{{friend.name}}.png"/>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </tab>
        </tabset>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div ng-show="showMsg" ng-if="currentMessages" class="panel panel-info">
                            <div class="panel-heading">
                                <a ng-click="showSide()">
                                    <span ng-click="showList()" class="glyphicon glyphicon-triangle-left pull-left" aria-hidden="true"></span>
                                </a>
                                <h3 class="panel-title">Chat With {{messages.name}}
                                    <i class="fa fa-circle {{currentMessages.statusColor}}"></i>
                                    ({{currentMessages.statusObj.currentGame.status.name}})</h3>
                            </div>
                            <div class="panel-body" ng-style="style()" resize>
                                <div ng-repeat="message in currentMessages.messages track by $index" ng-class="{ 'mymsg': message.to, 'theirmsg': !message.to }">
                                    {{message.body}}
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="formData.message" ng-enter="sendNew()" placeholder="Enter Text Here...">
                                            <span class="input-group-btn">
                                                <button ng-click="sendNew()" class="btn btn-info" type="button">SEND</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
