<div id="wrapper" ng-class="{'toggled':!showMsg}">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Friends</a></li>
            <li ng-click="showMessages(friend.shortId)" ng-repeat="friend in onlineFriends track by $index">
                <a>{{friend.name}}
                    <span class="badge" ng-if="friend.unread != 0">{{friend.unread}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div ng-show="showMsg" ng-if="currentMessages" class="panel panel-info">
                            <div class="panel-heading">
                                <a ng-click="showSide()">
                                    <span ng-click="showList()" class="glyphicon glyphicon-triangle-left pull-left" aria-hidden="true"></span>
                                </a>
                                <h3 class="panel-title">Chat With {{currentMessages.name}}</h3>
                            </div>
                            <div class="panel-body">
                                <div ng-repeat="message in currentMessages.messages track by $index" ng-class="{ 'mymsg': message.to, 'theirmsg': !message.to }">
                                    {{message.body}}
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="formData.message" ng-enter="sendNew()" placeholder="Enter Text Here...">
                                            <span class="input-group-btn">
                                                <button ng-click="sendNew()" class="btn btn-info" type="button">SEND</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>