<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <!--<div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Cover</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>-->
            <div class="inner cover">
                <h1 class="cover-heading">League Chat</h1>
                <p class="lead">beta version 0.1.0</p>
                <div class="form-group">
                    <lable class="control-label"><h4>Username</h4></lable>
                    <input class="form-control" type="text" ng-enter="login()" ng-model="formData.username"/>
                </div>
                <div>
                    <label class="control-label"><h4>Password</h4></label>
                    <input class="form-control" type="password" ng-enter="login()" ng-model="formData.password"/>
                </div>
                <div class="form-group">
                    <label class="control-label"><h4>Server</h4></label>
                    <select class="form-control" ng-model="formData.server">
                        <option id="1" value="NA" ng-selcted="formData.server">North America</option>
                        <option id="2" value="LAN">Latin America</option>
                        <option id="3" value="EUW">Europe West</option>
                        <option id="4" value="EUNE">Europe North Eeast</option>
                        <option id="5" value="OCE">Oceania</option>
                    </select>
                </div>
                <button ng-click="login()" class="btn btn-info">Login</button>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <div ng-repeat="friend in friends">{{friend.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
